{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <h1>Buy Artifact</h1>
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <select name="id">
                    {% for artifact in basicItemList %}
                        <option value={{ artifact.id }}>
                            {{ artifact.name }}
                        </option>
                    {% endfor %}
                    <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}