{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Buy artifact</div>
        <div class="form-container">
            <form method="POST">
            <fieldset>
                <select name="id">
                    {% for artifact in basicItemList %}
                        <option value={{ artifact.id }}>
                            {{ artifact.name }}
                        </option>
                    {% endfor %}
                    <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}