{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Buy artifact</div>
        <div class="form-container">
            <form method="POST">
            <fieldset>
                <div class = "input-text">Choose quest to create submission:</div><br>
                <select name="id" required>
                    {% for quest in questList %}
                        <option value={{ quest.id  }}>
                            {{ quest.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class = "input-text">Description:</div><br>
                <textarea name="description" placeholer="Description"></textarea>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}