{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Create Fundraise</div>
        <div class="form-container">
            <form method="POST">
            <fieldset>
                <div class = "input-text">Artifact</div><br>
                    <select name ="id">
                        {% for artifact in magicItemList %}
                            <option value={{ artifact.id }}>
                                {{ artifact.name }}
                            </option>
                        {% endfor %}
                    </select>
                <div class = "input-text">Fundraise Title</div><br>
                <input type="text" placeholder="Enter Title" name = "title"><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}