{% extends "classpath:/templates/index.twig" %}


{% block mainpage %}
    <div class="logo-main">
        <a href="/student" title="Go to Main Page">
            <img src="../static/img/cc-logo.png">
        </a>
    </div>
{% endblock %}
{% block menu %}
    <ul>
        <li class="list-header" target = "main-frame">Fundraise Panel</li>
        <li><a href="/student/view-fundraise">Show avalible fundraises</a></li>
        <li><a href="/student/create-fundraise">Create new Fundraise</a></li>
        <li><a href="/student/join-fundraise">Join Fundraise</a></li>
        <li><a href="/student/leave-fundraise">Leave Fundraise</a></li>
        <li class="list-header" target = "main-frame">Store Panel</li>
        <li><a href="/student/view-basic-items">View avalible artifacts</a></li>
        <li><a href="/student/buy-artifact">Buy artifact</a></li>
        <li><a href="/student/view-inventory">View purchase History</a></li>
        <li><a href="/student/fundraise-list">View your wallet</a></li>
        <li class="list-header" target = "main-frame">Quest Panel</li>
        <li><a href="/student/view-quest">View avalible Quests</a></li>
        <li><a href="/student/create-submission">Complete Quest</a></li>
        <li><a href="/student/view-student-submission">View Student Submission</a></li>

    </ul>
{% endblock %}

