{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="main-container">
        <div class="container profile">
            <div class="row">
                <div class="span12">
                    <div class="well well-small clearfix">
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/13495037_856274241172497_7858356343010580515_n.jpg?oh=48230c15fe5c98f5c6a6207471d5bcec&oe=5A7D3E66" class="img-polaroid"/>
                            </div>
                            <div class="span4">
                                <h2>Paweł Kulpa</h2>
                                <ul class="unstyled">
                                    <li><i class="icon-phone"></i>1</li>
                                    <li><i class="icon-envelope"></i> pablo@wp.pl</li>
                                </ul>
                            </div>
                            <div class="span6">
                                <ul class="inline stats">
                                    <li>
                                        <span>999</span>
                                        Money
                                    </li>
                                    <li>
                                        <span>99999</span>
                                        Experience
                                    </li>
                                </ul>
                                <div><!--/span6-->
                                </div><!--/row-->
                            </div>
                            <!--Body content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}