{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="table-container">
        <h1>List Basic Items</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                {% for artifact in basicItemList %}
                    <tr>

                        <td>{{ artifact.id }}</td>
                        <td>{{ artifact.name }}</td>
                        <td>{{ artifact.description }}</td>
                        <td>{{ artifact.price }}</td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}