{% extends "classpath:/templates/student/student-menu.twig" %}

{% block content %}
    <div class="table-container">
        <h1>List Basic Items</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                {% for element in data %}
                    <tr>
                        {% for record in element %}
                        <td>{{ record }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}