{% extends "classpath:/templates/index.twig" %}

{% block menu %}
    <ul>
        <li class="list-header" target = "main-frame">Group Panel</li>
        <li><a href="/admin/create-group">Create new Group</a></li>
        <li><a href="../../java/UI/web/admin/edit-group.html">Edit Group</a></li>
        <li class="list-header">Mentor Panel</li>
        <li><a href="/admin/create-mentor">Create Mentor</a></li>
        <li><a href="/admin/edit-mentor">Edit Mentor</a></li>
        <li><a href="/admin/mentor-list">View Mentors List</a></li>
        <li class="list-header">Experience Panel</li>
        <li><a href="">Create level of experienc</a></li>
    </ul>
{% endblock %}

