{% extends "classpath:/templates/index.twig" %}

{% block menu %}
    <ul>
        <li class="list-header" target = "main-frame">Group Panel</li>
        <li><a href="../../java/UI/web/admin/create-group.html" target = "main-frame">Create new Group</a></li>
        <li><a href="../../java/UI/web/admin/edit-group.html" target = "main-frame">Edit Group</a></li>
        <li class="list-header">Mentor Panel</li>
        <li><a href="/admin/create-mentor" target="main-frame">Create Mentor</a></li>
        <li><a href="../../java/UI/web/admin/edit-mentor.html" target = "main-frame">Edit Mentor</a></li>
        <li><a href="/admin/mentor-list" target="main-frame">View Mentors List</a></li>
        <li class="list-header">Experience Panel</li>
        <li><a href="">Create level of experienc</a></li>
    </ul>
{% endblock %}