{% extends "classpath:/templates/admin/nav.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <legend>Create level</legend>
                Level<br>
                <input type="text" placeholder="enter level" name="level"><br>
                Experience<br>
                <input type="text" placeholder="enter experience" name="experience"><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}