{% extends "classpath:/templates/admin/admin-menu.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <h1>Create Group</h1>
    </div>
    <div class="container">
        <form>
            <fieldset>
                <legend>Legend</legend>
                Group Name:<br>
                <input type="text" placeholder="enter first name"><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}