{% extends "classpath:/templates/admin/admin-menu.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <h1>Create Mentor</h1>
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <legend>Legend:</legend>
                First name:<br>
                <input type="text" placeholder="enter first name" name = "first-name"><br>
                Last name:<br>
                <input type="text" placeholder="enter last name" name = "last-name"><br>
                email:<br>
                <input type="email" placeholder="enter email"name = "email"><br>
                password:<br>
                <input type="password" placeholder="enter password" name = password><br>
                Class:
                <select id="color" name="class">
                    <option value="red">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="purple">Purple</option>
                </select>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}