{% extends "classpath:/templates/admin/nav.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <legend>Edit Group</legend>
                Group Name:<br>
                <input type="text" placeholder="enter group name" name="group-name" value="{{ group.name }}"><br>
                <input type="submit" value="Submit">
                <input type="hidden" name="id" value="{{group.id}}"/>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}