{% extends "classpath:/templates/admin/nav.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <h1>Create Mentor</h1>
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <legend>Legend:</legend>
                First name:<br>
                <input type="text" placeholder="enter first name" name = "first-name" value="{{mentor.firstName}}"><br>
                Last name:<br>
                <input type="text" placeholder="enter last name" name = "last-name" value="{{mentor.lastName}}"><br>
                email:<br>
                <input type="email" placeholder="enter email"name = "email" value="{{mentor.email}}"><br>
                Class:
                <label>
                    <select>
                        <option value="2016.1" name = "class">2016.1</option>
                        <option value="2017.1" name = "class">2017.1</option>
                        <option value="2017.2" name = "class">2017.2</option>
                    </select>
                    <input type="hidden" name="r_id" value="1"/>
                </label>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}