{% extends "classpath:/templates/index.twig" %}
{% block mainpage %}
    <div class="logo-main">
        <a href="/admin" title="Go to Main Page">
            <img src="../static/img/cc-logo.png">
        </a>
    </div>
{% endblock %}
{% block menu %}
        <ul class = "nav-panel-ul">
            <li><a href="">Home</a></li>
            <li class="has-sub"><a>Group Panel<span class="sub-arrow"></span></a>
                <ul>
                    <li><a href="/admin/create-group">Create new Group</a></li>
                    <li><a href="/admin/view-group">View/Edit Group</a></li>
                </ul>
            </li>
            <li class="has-sub"><a>Mentor Panel<span class="sub-arrow"></span></a>
                <ul>
                    <li><a href="/admin/create-mentor">Create Mentor</a></li>
                    <li><a href="/admin/view-mentor">View/Edit Mentors</a></li>
                </ul>
            </li>
            <li class="has-sub"><a>Experience Panel<span class="sub-arrow"></span></a>
                <ul>
                    <li><a href="/admin/create-level">Create level of experience</a></li>
                    <li><a href="/admin/view-level">View/Edit levels</a></li>
                </ul>
            </li>
        </ul>
{% endblock %}

