{% extends "classpath:/templates/admin/nav.twig" %}

{% block content %}
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% set ID = 1 %}
            {% for group in groups %}
            <tr>
                <td>{{ID}}</td>
                <td>{{group.id}}</td>
                <td>{{group.name}}</td>
                <td>
                    <form action = "" method = "post">
                        <button type="submit" name="id" value="{{ group.id }} "class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-cog">edit</span>
                        </button>
                    </form>
                <td>
            <tr>
                {% set ID = ID + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}