{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-container">
        <div class="header-container">
        </div>
        <div class="container">
            <form method="POST">
                <fieldset>
                    <legend>Edit Artifact</legend>
                    Artifact Name:<br>
                    <input type="text" placeholder="name" name="name"><br>
                    Artifact description<br>
                    <input type="text" placeholder="description" name="description"><br>
                    Artifact value<br>
                    <input type="text" placeholder="price" name="price"><br>
                    Artifact type<br>
                    <input type="text" placeholder="is magic" name="isMagic"><br>
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}