{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Create quest</div>
        <div class="form-container">
            <form method="POST">
            <fieldset>
                <div class = "input-text">Quest name:</div><br>
                <input name="name" type="text" placeholder="Enter quest name"><br>
                <div class = "input-text">Description:</div><br>
                <textarea name="description" placeholder="Enter description"></textarea><br>
                <div class = "input-text">Value:</div><br>
                <input name="value" type="number" placeholder="Enter value"><br>
                <div class = "input-text">Experience:</div><br>
                <input name="experience" type="number" placeholder="Enter experience"><br>
                <div class = "input-text">Category:</div>
                <label>
                    <select name="category">
                        <option value="Basic Quest">Basic Quest</option>
                        <option value="Magic Quest">Magic Quest</option>
                    </select>
                </label>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
    </div>
{% endblock %}
