{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-container">
    <div class="header-container">
        <h1>Create Student</h1>
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <legend>Student:</legend>
                First name:<br>
                <input type="text" placeholder="enter first name" name = "first-name"><br>
                Last name:<br>
                <input type="text" placeholder="enter last name" name = "last-name"><br>
                email:<br>
                <input type="email" placeholder="enter email" name = "email"><br>
                password:<br>
                <input type="password" placeholder="enter password" name = password><br>
                Class:
                <label>
                    <select>
                        <option value="2016.1">2016.1</option>
                        <option value="2017.1">2017.1</option>
                        <option value="2017.2">2017.2</option>
                    </select>
                </label>
                <input type="hidden" name="class" value="2017"/>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
    </div>
{% endblock %}
