{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Delete quest</div>
        <div class="form-container">
            <form method="POST">
            <fieldset>
                <select name="id">
                    {% for element in questList %}
                        <option value={{ element.id }}>
                            {{ element.name }}
                        </option>
                    {% endfor %}
                    <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}