{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Delete funddraise</div>
        <div class="form-container">
            <form method="POST">
            <fieldset>
                <select name="id">
                    {% for fundraise in fundraises %}
                        <option value={{ fundraise.fundraiseID }}>
                            {{ fundraise.title }}
                        </option>
                    {% endfor %}
                    <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}