{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">Edit artifact</div>
        <div class="form-container">
            <form method="POST">
                <fieldset>
                    <div class = "input-text">Artifact Name:</div><br>
                    <input type="text" placeholder="name" name="name" value="{{ artifact.name }}"><br>
                    <div class = "input-text">Artifact description</div><br>
                    <input type="text" placeholder="description" name="description" value="{{ artifact.description }}"><br>
                    <div class = "input-text">Artifact value</div><br>
                    <input type="text" placeholder="price" name="price" value="{{ artifact.price }}"><br>
                    <div class = "input-text">Artifact type</div><br>
                    <label>
                        <select name="isMagic">
                            <option value="yes">Magic</option>
                            <option value="not">Not Magic</option>
                        </select>
                    </label>
                    <input type="submit" value="Submit">
                    <input type="hidden" name="id" value="{{artifact.id}}"/>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}