{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <h1>Error database</h1>
    </div>
</div>
{% endblock %}