{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <h1>Finalize Fundraise</h1>
    </div>
    <div class="container">
        <form method="POST">
            <fieldset>
                <select name="id">
                    {% for fundraise in fundraises %}
                        <option value={{ fundraise.fundraiseID }}>
                            {{ fundraise.title }}
                        </option>
                    {% endfor %}
                    <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}