{% extends "classpath:/templates/index.twig" %}

{% block mainpage %}
    <div class="logo-main">
        <a href="/mentor" title="Go to Main Page">
            <img src="../static/img/cc-logo.png">
        </a>
    </div>
{% endblock %}
{% block menu %}
    <ul class = "nav-panel-ul">
    <li><a href="">Home</a></li>
        <li class="has-sub"><a>Student Panel<span class="sub-arrow"></span></a>
            <ul>
                <li><a href="/mentor/create-student">Create new Student</a></li>
                <li><a href="/mentor/view-student">View/Edit Student</a></li>
            </ul>
        </li>
        <li class="has-sub"><a>Artifact Panel<span class="sub-arrow"></span></a>
            <ul>
                <li><a href="/mentor/create-artifact">Create new Artifact</a></li>
                <li><a href="/mentor/view-artifact">View/Edit Artifact</a></li>
            </ul>
        </li>
        <li class="has-sub"><a>Quest Panel<span class="sub-arrow"></span></a>
            <ul>
                <li><a href="/mentor/create-quest">Create new Quest</a></li>
                <li><a href="/mentor/view-quest">View/Edit Quest</a></li>
                <li><a href="/mentor/delete-quest">Delete Quest</a></li>
                <li><a href="/mentor/view-submission">View Submission</a></li>
            </ul>
        </li>
        <li class="has-sub"><a>Fundraise Panel<span class="sub-arrow"></span></a>
            <ul>
                <li><a href="/mentor/fundraise-list">View Fundraising</a></li>
                <li><a href="/mentor/finalize-fundraise">Finalize Fundraising</a></li>
                <li><a href="/mentor/delete-fundraise">Delete Fundraising</a></li>
            </ul>
        </li
    </ul>
{% endblock %}