.main-card{
    height: auto;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.form-container{
    min-height: 300px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    display: flex;
}

form {
    margin: auto;
    width: 90%;
    padding: 10px;
    display: block;
    align-items: center;

}
fieldset{
    display: block;
    margin: auto;
    width: 90%;
    border: 0;

}
.input-text{
    display: block;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.title{
    padding: 30px;
    color: #000000;
    font-size: 50px;
    font-family: georgia;
    text-align: center;
    text-shadow: 0px 0px 6px #808080;
}
.logo-main{
    padding-left: 20px;
    display: flex;
    width: 20%;
}

.logo-bb {
    text-align: left;
    width: 20%;
    font-size: larger;
    font-weight: bold;

    /*todo allign to left*/
}

.status-page {
    width: 20%;

    font-size: x-large;
    font-weight: bolder;
}

.status-user{
    width: 20%;


}
.status-date{
    margin-right: 20px;

}

textarea,
input[type=text],
input[type="number"], input[type="submit"],
input[type="reset"],
input[type="email"], input[type="password"], select {
    width: 70%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]
{
    background-color: rgb(153, 51, 255);
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor:pointer;
}
input[type=submit]:hover
{
    background-color: black;
}

.profile{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-left: 150px;
}
.profile2{
    display: flex;
    flex-direction: column;
    height: 200px;
}
