<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <script type="text/ecmascript" src="/static/jquery-3.2.1.min.js"></script>
            <script type="text/javascript">
            $(document).ready(function(e) {
                $('.has-sub').click(function(){
                $(this).toggleClass('tap');
                });
                });
            </script>


            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="../static/css/main-style.css">
            <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
            <link rel="stylesheet" type="text/css" href="../static/css/content.css">
            <title>{% block title %}{% endblock %}b.B</title>
        {% endblock %}
    </head>
    <body>
          <div class="main-panel">
          <!--<header>-->
              {% block mainpage %}
              {% endblock %}
              <div class="logo-bb">bB</div>
              <div class="status-page">HOMEPAGE</div>
              <div class="status-user">USER: {{ user.firstName }} {{ user.lastName }}<br>ID: {{ user.id }}</div>
              <form method="POST">
              <div class="button-logout" >
                  <input type="hidden" name="logout" value="logout"/>
                  <button type="submit" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-log-out"></span> Log out
                  </button>
              </div>
              </form>
              <div class="status-date"><iframe src="http://free.timeanddate.com/clock/i5ydye2u/n535/tlpl31/fcfff/tc000/pc000" frameborder="0" width="57" height="18"></iframe>
              </div>
          </div>
      <div class="home-container">
        <div class="nav-panel">{% block menu %}{% endblock %}</div>
        <div class="content">
            <div class="main-card">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>bAnalniBandyci</footer>
    </body>
</html>