body {
  font-family: 'Oswald', sans-serif;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.flex-container > * {
  padding: 15px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

article {
  text-align: left;
}

form {
  text-align: center;
}

header {
  background: black;color:white;
}

footer {
  background: #aaa;color:white;
  position: fixed;
  bottom: 0px;
}
nav {
  background:black;
  height: 500px;
}

h1 {
  text-align: center;
}
nav li {

  font-size: 20px;
  line-height: 40px;
  height: 40px;

}

article ol {
  font-size: 40px;
  line-height: 80px;
}

nav a {
  text-decoration: none;
  display: block;
}
nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


@media all and (min-width: 768px) {
  .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
  .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
  footer {-webkit-order:3;order:3;}
}

div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
  border-color: red;
  width: 185px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
