body,html{
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
    font-family: 'Oswald', sans-serif;


}

.main-panel {
  flex-basis: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  background: black;color:white;
  align-items: center;
}

.logo-main{
  display: flex;
    width: 20%;
}

.logo-bb {
    text-align: left;
    width: 20%;
    color: #d77d16;
    font-size: larger;
    font-weight: bold;

    /*todo allign to left*/
}

.status-page {
    width: 20%;

    color: coral;
    font-size: x-large;
    font-weight: bolder;
}

.status-user{
    color: orange;
    width: 20%;

}

.nav-panel li{
    list-style-type: none;
    text-decoration: none;

    font-size: 20px;
    line-height: 40px;
}


.nav-panel {


  display: flex;
  width: 300px;
  align-content: flex-start;
  background-color: grey;
  height: auto;
}
.nav-panel a:hover {
    background-color: #005f5f;
}
li.list-header{
    list-style: none;
    background-color: #444;
    text-align: left;
    /*padding: 7px;*/
    /*margin: 10;*/
    color:black;
}
.nav-panel a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}


.home-container{
display: flex;  flex-direction: row;
}

.content{
    background: url("http://www.planwallpaper.com/static/images/6909249-black-hd-background.jpg") no-repeat fixed center;
    width: 100%;
    margin: 0;
    border: 0;
}

iframe{
    border: 0;
}

ul{
    padding: 10px;
}


footer{
    z-index: 10;
    background-color: red;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}